fastapi==0.104.1
uvicorn==0.24.0
motor==3.7.0
pymongo==4.11.0
python-dotenv==1.0.0
pydantic[email]==1.10.12
python-multipart
python-jose[cryptography]==3.3.0
passlib==1.7.4
bcrypt==4.0.1
numpy
imagehash==4.2.1
Pillow==9.5.0
requests==2.31.0
scikit-image
aiohttp
PyJWT==2.8.0
httpx==0.26.0
tqdm==4.66.1
python-dotenv==1.0.0
faiss-cpu==1.9.0
